# ignore everything
*

# unignore all files with extensions
!*.*

# unignore all dirs
!*/

# ignore .d and .o files
*.d
*.o

# ignore .ccls-cache folder
.ccls-cache

# unignore makefiles
!Makefile
!makefile

